$color-primary: #272727;
$color-primary-light-1: #323232;
$color-primary-light-2: #363636;
$color-primary-dark-1: #242424;
$color-primary-dark-2: #212121;

$color-grey: #d7dcdf;

$color-blue: #3fc1c9;

$color-green: #a7ff83;

$color-red: #ffaaa5;

$color-purple: #c3bef0;

$color-warning: #ffc107;
