.Cell {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: #bbb;

  &.Cell-flag {
    background-color: orange;
  }
  &.Cell-open {
    background-color: #eee;
  }
  &.Cell-bomb {
    background-color: red;
  }
}
