@import '../../styles/variables';

.Cell {
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-primary;
  border-radius: 2px;
  background-color: $color-primary-dark-2;
  transition: translate .3s ease, background-color .3s ease;
  overflow: hidden;

  & .Bug,
  & .Flag {
    width: 3rem;
    height: 3rem;
  }

  &:hover:not(.Cell-open) {
    transform: translateY(-1px);
    border: 1px solid $color-primary-light-2;
    background-color: $color-primary-dark-1;
    cursor: pointer;
  }

  &:active:not(.Cell-open) {
    transform: translateY(1px);
    border: 1px solid $color-primary-light-2;
    background-color: $color-primary-dark-1;
    cursor: pointer;
  }

  & img {
    opacity: 0;
  }
  &.Cell-open {
    background-color: $color-primary-light-1;
    & div {
      opacity: 1;
      color: #eee;
    }
  }
  &.Cell-bomb {
    background-color: $color-primary-light-1;
  }
  &.blue {
    color: $color-blue;
  }
  &.green {
    color: $color-green;
  }
  &.red {
    color: $color-red;
  }
  &.purple {
    color: $color-purple;
  }
}

.Flag {
  opacity: 1;
  color: $color-warning;
  font-size: 2.8rem;
}
