@import '../../styles/variables';

.Cell {
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-primary;
  border-radius: 2px;
  background-color: $color-primary-dark-2;
  &:hover:not(.Cell-open) {
    border: 1px solid $color-primary-light-2;
    background-color: $color-primary-dark-1;
    cursor: pointer;
  }

  & img {
    opacity: 0;
  }
  &.Cell-open {
    background-color: $color-primary-light-1;
    & div {
      opacity: 1;
      color: #eee;
    }
  }
  &.Cell-bomb {
    background-color: $color-primary-light-1;
  }
  &.blue {
    color: $color-blue;
  }
  &.green {
    color: $color-green;
  }
  &.red {
    color: $color-red;
  }
  &.purple {
    color: $color-purple;
  }
}

.Flag {
  opacity: 1;
  color: $color-warning;
  font-size: 32px;
}
