@import '../../styles/variables';

.settings-heading {
  letter-spacing: 1px;
  font-weight: 400;
}
.radio-group {
  display: flex;
  flex-direction: column;
}

.difficulty,
.volume,
.language {
  margin: 3rem;
}

@media screen and (max-width: 1020px) {
  .difficulty,
  .volume,
  .language {
    margin: 2rem;
  }
}

@media screen and (max-height: 1020px) {
  .difficulty,
  .volume,
  .language {
    margin: 1rem;
  }
}

.radio-label,
.score-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.4rem;
  height: 4.2rem;
  transition: background-color .3s ease, box-shadow .3s ease, transform .3s ease;
  font-family: inherit;
  margin: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  &.easy {
    color: $color-blue;
    &:hover {
      border: 2px solid $color-blue;
      transform: translateY(-2px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &.medium {
    color: $color-green;
    &:hover {
      border: 2px solid $color-green;
      transform: translateY(-2px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
    }
    &:active {
      transform: translateY(2px);
    }
  }
  &.expert {
    color: $color-red;
    &:hover {
      border: 2px solid $color-red;
      transform: translateY(-2px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
    }
    &:active {
      transform: translateY(2px);
    }
  }
}

.score-btn {
  color: $color-primary-dark-2;
  background-color: $color-purple;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
  }
  &:active {
    transform: translateY(2px);
  }
}

.radio-input {
  display: none;
  &:checked + .radio-label {
    color: $color-primary-dark-2;
    &.easy {
      background-color: $color-blue;
    }
    &.medium {
      background-color: $color-green;
    }
    &.expert {
      background-color: $color-red;
    }
    &.lang-en,
    &.lang-ru {
      background-color: $color-blue;
    }
  }
}

.music-volume,
.sound-volume {
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  & label {
    margin-bottom: 1rem;
  }
}

#sound,
#music {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  border-radius: .5rem;
  background: $color-grey;
  outline: none;
  padding: 0;
  margin: 0;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #3fc1c9;
    cursor: pointer;
    transition: background .15s ease-in-out;
    &:hover {
      background: #3fc1c9;
    }
  }
}

.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.4rem;
  height: 7.2rem;
  margin: 1.2rem;
  border-radius: 4px;
  color: $color-primary-dark-2;
  font-weight: 500;
  background-color: $color-warning;
  transition: all .3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
  }
  &:active {
    transform: translateY(2px);
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 3rem auto;
}

@media screen and (max-height: 1200px) {
  .switch {
    margin: .5rem auto;
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: 'coronavirus';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $color-primary;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $color-grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px $color-grey;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "pest_control";
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
